<!-- <div data-bind="component: &quot;message-editor&quot;"></div> -->
<style>
  .v-select .dropdown-toggle {
    height: 36px;
  }
</style>
<div id="app" class="container-fluid flow-repl">
  Select Frame:
  <div>
    <v-select
      label="name"
      v-model="selectedFrame"
      :options="frameOptions"
    ></v-select>
    {{ selectedFrame }}
  </div>
  <div v-if="selectedFrame">
    Select Columns
    <v-select
      multiple
      v-model="selectedColumns"
      :options="columnOptions"
    ></v-select>
    selectedColumns: {{ selectedColumns }}
  </div>
  <div v-if="selectedFrame && selectedColumns">
    <div id="tester" style="width:100%;height:500px;"></div>
  </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/jeezy@1.12.11/lib/jeezy.min.js"></script>

<script>
  Vue.component("v-select", VueSelect.VueSelect);
  const baseUrl = localStorage.getItem("contextPath");
  new Vue({
    el: "#app",
    data: {
      selectedFrame: "",
      frameOptions: [],
      selectedColumns: [],
      columnOptions: [],
      columnsFullData: new Map(),
      correlationData: null
    },
    created() {
      fetch(baseUrl + "3/Frames", {
        headers: {
          accept: "application/json"
        },
        method: "GET"
      })
        .then(data => data.json())
        .then(
          data =>
            (this.frameOptions = data.frames.map(item => ({
              name: item.frame_id.name,
              url: item.frame_id.URL
            })))
        );
    },
    watch: {
      selectedFrame: function(newFrame) {
        console.log(newFrame);
        fetch(baseUrl + newFrame.url.substring(1) + "/light", {
          headers: {
            accept: "application/json"
          },
          method: "GET"
        })
          .then(data => data.json())
          .then(
            data =>
              (this.columnOptions = data.frames[0].columns.map(
                item => item.label
              ))
          );
      },
      selectedColumns: async function(newColumns) {
        /* fetch required columns data */
        debugger;
        this.columnsFullData = new Map();
        let promises = this.selectedColumns.map(column => {
          return fetch(
            baseUrl +
              this.selectedFrame.url.substring(1) +
              "/columns/" +
              column,
            {
              headers: {
                accept: "application/json"
              },
              method: "GET"
            }
          ).then(response => response.json());
        });
        await Promise.all(promises).then(responses => {
          responses.forEach(response => {
            let data = response.frames[0].columns[0].data;
            let colName = response.frames[0].columns[0].label;
            if (
              response.domain &&
              Array.isArray(response.domain) &&
              response.domain.length
            ) {
              data = data.map(item => response.domain[item]);
            }
            //console.log(data.frames[0].columns[0].data);
            this.columnsFullData.set(colName, data);
          });
        });

        //plot new plotly graph
        const el = document.getElementById("tester");

        //correlation da6ta
        var data = [];

        if (this.columnsFullData.size) {
          //get records length
          const recordsLength = this.columnsFullData.values().next().value
            .length;
          for (let i = 0; i < recordsLength; i++) {
            const obj = {};
            for (col of this.selectedColumns) {
              obj[col] = this.columnsFullData.get(col)[i];
            }
            data.push(obj);
          }

          // console.log("The actual data is ");
          // console.log(data);
          // var cols = "abcd".split("");
          // console.log(cols);
          // for (var i = 0; i <= 30; i++) {
          //   var obj = { index: i };
          //   cols.forEach(col => {
          //     obj[col] = jz.num.randBetween(1, 100);
          //   });
          //   data.push(obj);
          // }
          let corr = jz.arr.correlationMatrix(data, this.selectedColumns);
          //console.log(corr);
          let corrIndex = 0;
          const corMatrix = [];
          const cols = this.selectedColumns;
          for (let row = 0; row < cols.length; row++) {
            const rowMatrix = [];
            for (let col = 0; col < cols.length; col++) {
              rowMatrix[col] = corr[corrIndex++].correlation;
            }
            corMatrix[row] = rowMatrix;
          }
          console.log(corMatrix);

          var data = [
            {
              z: corMatrix,
              type: "heatmap"
            }
          ];

          Plotly.plot(el, data);
        }
      }
    }
  });
</script>
